mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: cornflowerblue;
  border: 1px solid black;
  width: 100px;

  margin: 10px 10px 10px;
  border-radius: 10px;

  text-align: center;

  background-color: rgba(128, 128, 128, 1.0);
}

#map {
  height: 100%;
}

#menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 999;
}

#zoom-in {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
}

#zoom-out {
  position: absolute;
  top: 75px;
  left: 15px;
  z-index: 999;
}

.layer-item {
  font-size: 7pt;
  margin: 5px 5px 5px;
}

.layer-item div {
  border: 2px solid black;
  border-radius: 10px;
}

.layer-item div div {
  border: 0px;

  height: 75px;

  background-color: white;

  cursor: pointer;

  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

#timeline-wrapper {
  display: flex;
  position: absolute;
  z-index: 900;
  height: 50px;
  width: 100%;
}

#timeline {
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 130px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
}

#datafeed-wrapper { 
  display: flex;
  position: fixed;
  z-index: 900;
  height: 130px;
  width: 100%;
  bottom: 15px;
}

#datafeed-group {
  margin: 0 auto;
}

#datafeed-group > div {
  float: left;  
  margin-left: 10px;
}

.datafeed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;

  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
}

.datafeed > div {
  float: left;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

#df_elec {
  width: 450px;
}

#df_wind {
  width: 100px;
}

#df_temp {
  width: 80px;
}

#df_co2 {
  width: 70px;
}

#df_weather {
  height: 100%;
}

#df_weather > div > div {
  float: left;
}