<mat-sidenav-container>
    <mat-sidenav position="end" [(opened)]="sidenavOpen">
        <h3>Layers</h3>

        <div *ngFor="let layer of layers.getLayers() | async" class="layer-item">
            <div (click)="toggleLayer(layer)" matTooltip="{{ layer.name }}" matTooltipPosition="before">
                <div [style.backgroundImage]="'url(' + layer.icon +')'" [style.opacity]="layer.enabled ? 1.0 : 0.25"></div>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-fab id="zoom-in" color="basic" (click)="zoomIn()" style="font-size: 24pt">+</button>
        
        <button mat-fab id="zoom-out" color="basic" (click)="zoomOut()" style="font-size: 24pt">-</button>

        <button mat-fab id="menu-toggle" disableRipple (click)="sidenavOpen = !sidenavOpen" color="basic">
            <mat-icon>menu</mat-icon>
        </button>

        <div id="timeline-wrapper">
            <div id="timeline"></div>
        </div>

        <div id="datafeed-wrapper">
            <div id="datafeed-group">
                <div class="datafeed">
                    <div id="df_elec"></div>
                </div>

                <div class="datafeed">
                    <div id="df_wind"></div>
                    <div id="df_temp"></div>
                </div>

                <div class="datafeed">
                    <div id="df_co2"></div>
                </div>
            </div>
        </div>

        <div id="map"></div>
    </mat-sidenav-content>
</mat-sidenav-container>