/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    height: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.leaflet-container .leaflet-control-attribution {
  background: rgba(0, 0, 0, 0)
}

.attribution-logo {
  height: 60px;
}